body{
	background-color: #5F9EA0
}

.head{
	text-align: center;
	margin-bottom: 5px;
}

.button{
	width: 150px;
	height: 20px;
}

.sketchWrapper{
	position: relative;
	width: 620px;
	height: 550px;
	background-color: red;
	border-radius: 25px;
	margin: auto;
	box-shadow: 10px 10px 2px rgba(0,0,0,0.5);

}
.sketchpad{
	position: absolute;
	top: 25px;
	left: 60px;
	width: 500px;
	height: 500px;	
	overflow: hidden;
	background-color: lightgray;
}

#logo{
	text-align: center;
	color: white;
	font-family: Impact;
	font-size: 20px;
}

.gridBox{
	float: left;
}

.on{
	background-color: #f0f0f0;
}

.off{
	background-color: #566;
}

.cleared{
	background-color: #FFFFFF;
}

.knob {
	height: 40px;
	width: 40px;
	border-radius: 40px;
	background-color: white;
	box-shadow: 7px 7px 2px rgba(0,0,0,0.5);
}

#leftknob {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#rightknob {
	position: absolute;
	bottom: 10px;
	left: 10px;
}